<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">User creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.creation.username(${user.login})}">
    Username
</p>
<p th:text="#{email.creation.text1}">
</p>
<p>
<h3> <a th:href="@{|${baseUrl}/verify?code=${user.activationKey}|}"
       th:text="#{verification.link}">Login link</a></h3>
</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Balia.</em>
</p>
</body>
</html>
